@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Ryan Dines<br />
    St Petersburg, FL<br />
    <abbr title="Phone">P:</abbr>
    727.851.0305
</address>

<address>
    <strong>Support:</strong> <a href="mailto:ryan@seniordevops.com">ryan@seniordevops.com</a><br />
</address>
